body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;   /* Firefox */
    -webkit-font-smoothing: antialiased; /* WebKit  */
    background-color: #33333D;
}

a {
  text-decoration: none;
  color: #f8d39d;
}


.header_mobile { display: none;}
.about_us_mobile { display: none;}

.base_ui {
  background-color: #2a2c36;
}

.white_text {
  color: white;
}

.base_gray {
  color: #C4C4C4;
/* contact@libtea.club */
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
/* identical to box height, or 170% */
}

.base_button {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
  border-radius: 5px;
  cursor: pointer;
}

.main_container {
    display: flex;
    flex-direction: column;
}

.header_container {
  width: 100%;
  position: relative;
  height: 430px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.header_container .back_rectangle {
  margin-left: 40px;
  width: 355px;
  transform: rotate(10deg);
  height: 1000px;
  margin-top: -41px;
  background-color: #F8D39D;
}

.header_container .content {
  z-index: 100;
  max-width: 1250px;
  display: flex;
  align-items: center;
}

.header_container .content .logo {
  background-image: url("images/logo_done_done.svg");
  min-width: 413px;
  height: 538px;
  background-size: 100%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  filter: invert(1);
}

.header_container .content .main_header {z-index: 101;width: 380px;margin-left: 45px;}

.header_container .content .main_header .title {font-family: Yanone Kaffeesatz;font-size: 60px;font-weight: 600;}

.header_container .content .main_header .description {font-family: Ubuntu Condensed;font-size: 25px;width: 378px;line-height: 35px;margin-top: 12px;}

.header_container .content .main_header .main_buttons {display: flex;margin-top: 30px;}

.header_container .content .main_header .main_buttons .join_button {display: flex;width: 165px;height: 54px;background-color: #5F607B;justify-content: center;align-items: center;margin-right: 20px;}

.header_container .content .main_header .main_buttons .join_button .icon {
  filter: invert(1);
  width: 31px;
  height: 25px;
  margin-right: 13px;
  background-image: url("images/user-plus-solid.svg");
}

.header_container .content .main_header .main_buttons .join_button .text {font-family: 'Ubuntu';font-weight: 700;color: #ffffff;font-size: 17px;}

.header_container .content .main_header .main_buttons .support_button {background-color: white;height: 54px;width: 190px;display: flex;justify-content: center;align-items: center;border-radius: 5px;}

.header_container .content .main_header .main_buttons .support_button .icon {
  width: 31px;
  height: 31px;
  margin-right: 12px;
  background-image: url("images/rouble.svg");
}

.header_container .content .main_header .main_buttons .support_button .text {font-family: 'Ubuntu';font-weight: 700;color: #2A2C36;font-size: 17px;}

.contacts_container {height: 72px;border-top: #ffffff1f 1px solid;border-bottom: #ffffff1f 1px solid;display: flex;align-items: center;justify-self: stretch;justify-content: center;}

.contacts_container .contact_us {width: 70%;max-width: 980px;}

.contacts_container .social, .footer .social {
    display: flex;
}

.footer .social {
   margin-left: -10px;
    margin-bottom: 14px;
}

.social .icon {transition: 0.2s;margin: 8px;filter: invert(78%) brightness(100%) contrast(100%);width: 28px;height: 28px;background-repeat: no-repeat;background-position: center;}

.social .icon:hover {filter: invert(100%) brightness(100%) contrast(100%);}

.social .telegram {
  background-image: url("images/telegram-plane-brands.svg")
}

.social .twitter {
  background-image: url("images/twitter-brands.svg")
}

.social .instagram {
  background-image: url("images/instagram-brands.svg")
}

.social .vk {
  background-image: url("images/vk-brands.svg")
}

.social .facebook {
  background-image: url("images/facebook-brands.svg")
}

.social .youtube {
  background-image: url("images/youtube-brands.svg")
}


.about_us .description {
  margin: auto;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  width: 660px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}


.about_us .lectures {width: 974px;display: flex;left: 0;right: 0;margin: auto;flex-wrap: wrap;}

.photo {object-fit: cover;border-radius: 5px;}

#photo1 {width: 500px;height: 271px;box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);}

#photo2 {margin-top: -40px;width: 500px;height: 283px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);}

#photo3 {width: 450px;height: 227px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);}

#photo4 {width: 272px;height: 214px;margin-right: 15px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);}

#photo5 {width: 237px;height: 214px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);}

#photo6 {width: 446px;height: 298px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);}

#photo7 {width: 530px;height: 298px;margin-left: 19px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);}

#photo8 {width: 416px;height: 220px;margin-top: 32px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);}

#photo9 {width: 355px;height: 83px;margin-left: 80px;margin-top: 10px;}
#photo10 {width: 485px;height: 256px;box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);}


.about_us .lectures .text_container {
    margin-left: 47px;
    margin-top: 30px;
}

#text_container1 {
    margin-left: 22px;
    margin-top: 42px;
    margin-right: 39px;
}

.about_us .lectures .text_container .title {margin-bottom: 14px;font-family: Ubuntu;font-style: normal;font-weight: normal;font-size: 22px;line-height: 34px;text-align: -webkit-match-parent;}

.about_us .lectures .text_container .secondary_text {
  line-height: 26px;
  margin: 0;
  width: 413px;
}

.about_us .lectures .secondary_text {
  line-height: 26px;
  margin: 0;
  margin-top: 57px;
  margin-right: 63px;
  margin-left: 26px;
  width: 413px;
}

.secondary_text {
  font-family: Ubuntu;
  font-style: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.69);
  font-size: 16px;
}

.about_us .elections {display: flex;left: 0;right: 0;margin: auto;width: 974px;margin-top: 70px;}

.about_us .elections .text_container  {
  margin-top: 50px;
  margin-left: 51px;
}

.about_us .elections .text_container .title {
  margin-bottom: 14px;font-family: Ubuntu;font-style: normal;font-weight: normal;font-size: 22px;line-height: 34px;text-align: -webkit-match-parent;
}


.about_us .elections .secondary_text {
  line-height: 26px;
  margin: 0;
  margin-left: 0px;
  width: 461px;
}

.about_us .opinion {left: 0;right: 0;margin: auto;width: 995px;margin-top: 70px;}

.about_us .opinion .title {
  margin-bottom: 14px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  text-align: -webkit-match-parent;
  text-align: center;
}

.about_us .opinion .secondary_text {
  line-height: 26px;
  width: 521px;
  text-align: center;
  margin: auto;
}

.about_us .opinion .content_container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.about_us .opinion .content_container .youtube_video {
  width: 438px;
  overflow: hidden;
}

.about_us .opinion .content_container .articles {margin-left: 25px;}

.about_us .opinion .content_container .articles .article {
  background-color: white;
  padding: 17px 20px;
  margin-bottom: 22px;
  font-size: 15px;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: inherit;
  font-family: 'Ubuntu';
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.about_us .opinion .content_container .articles .article .icon {
  background-image: url("images/file_icon.svg");
  display:inline-block;
  width: 26px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 18px;
}

.about_us .rallies {margin: auto;display: flex;flex-wrap: wrap;width: 1050px;}

.about_us .rallies .text_container {width: 449px;margin-right: 18px;}

.about_us .rallies .text_container .title {margin-bottom: 14px;font-family: Ubuntu;font-style: normal;font-weight: normal;font-size: 22px;line-height: 34px;text-align: -webkit-match-parent;}

.about_us .rallies .text_container .secondary_text {line-height: 26px;margin: 0;width: 438px;}

.about_us .rallies .photo_container_1 {}

.about_us .rallies .photo_container_2 {display: flex;margin-top: 15px;}

.about_us .rallies {display: flex;flex-wrap: wrap;width: 995px;margin-top: 40px;justify-content: center;}

.about_us .aid {display: flex;flex-wrap: wrap;width: 948px;margin: auto;margin-top: 68px;}

.about_us .aid .container {
  display: flex;
}

.about_us .aid .text_container {width: 432px;}

.about_us .aid .text_container .secondary_text {
    line-height: 26px;
}

.about_us .aid .text_container .title {margin-bottom: 14px;font-family: Ubuntu;font-style: normal;font-weight: normal;font-size: 22px;line-height: 34px;}

.about_us .aid .red_button {display: flex;width: 948px;}

.about_us .aid .red_button .red_button_description {width: 400px;margin-left: 100px;margin-top: -50px;}

.about_us .aid .red_button .secondary_text {line-height: 26px;margin: 0;width: 443px;}

.about_us .aid .help {
  display: flex;
  width: 984px;
  margin-top: -107px;
}

.about_us .aid .help .secondary_text {margin-top: 144px;line-height: 26px;width: 429px;margin-right: 67px;}

.about_us .pictures_to_send_and_say_us_container {
    position: relative;
}

.about_us .pictures_to_send_and_say_us_pics_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/collage.jpg);
    background-size: cover;
    background-position: center;
}

.about_us .pictures_to_send_and_say_us_pics_fg {
    position: relative; /* )=>-- */
    width: 491px;
    height: 732px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.about_us .pictures_to_send_and_say_us_pics_fg .and_you {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 492px;
    height: 261px;
}

.about_us .pictures_to_send_and_say_us .title {margin: auto;font-family: Ubuntu;font-style: normal;font-weight: normal;font-size: 22px;line-height: 34px;width: 846px;text-align: center;margin-top: 70px;margin-bottom: 40px;}

.photo_us {object-fit: cover;object-position: center;}

#photo_us1 {
    width: 304px;
    height: 244px;
}
#photo_us2 {
    width: 181px;
    height: 244px;
}
#photo_us3 {
    width: 287px;
    height: 244px;
}
#photo_us4 {
    width: 252px;
    height: 244px;
}
#photo_us5 {
    width: 332px;
    height: 244px;
}
#photo_us6 {
    width: 340px;
    height: 244px;
}
#photo_us7 {
    width: 352px;
    height: 244px;
}
#photo_us8 {
    width: 229px;
    height: 244px;
}
#photo_us9 {
    width: 347px;
    height: 244px;
}


.contact_us a {
  text-decoration: none;
  color: white;
}

.about_us .subscribe {border-top: 1px solid #ffffff1a;border-bottom: 1px solid #ffffff1a;width: 1000px;margin: auto;margin-top: 100px;display: flex;align-items: center;justify-content: center;}

.about_us .subscribe .secondary_text  {width: 516px;line-height: 26px;margin: 36px 36px;}

.about_us .subscribe .social {
  display:flex;
}

.about_us .pictures_to_send_and_say_us .and_you {
    background: #292d36;
    z-index: 150;
    display: flex;
    flex-wrap: wrap;
    bottom: 250px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
}

.about_us .pictures_to_send_and_say_us .and_you .join_button {display: flex;width: 226px;height: 54px;background-color: #F8D39D;justify-content: center;align-items: center;margin-right: 20px;}

.about_us .pictures_to_send_and_say_us .and_you .join_button .icon {
  filter: invert(17%);
  width: 31px;
  height: 25px;
  margin-right: 13px;
  background-image: url("images/user-plus-solid.svg");
  background-repeat: no-repeat;
}

.about_us .pictures_to_send_and_say_us .and_you .join_button .text {font-family: 'Ubuntu';font-weight: 700;color: #2A2C36;font-size: 17px;}


.about_us .pictures_to_send_and_say_us .and_you .title {margin: 0;margin-bottom: 20px;}

.header_mobile { display:none;}

.donate {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  width: 961px;
  margin: 64px auto 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 26px;
  padding: 53px 0 0 0;
  border-width: 1px 0 0 0;
  margin-bottom: 100px;
}

.donate .text_container {
    width: 400px;
}

.donate .text_container .title {
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 17px;
}


.donate {
  display: flex;
}

.donate .requisites {width: 500px;}

.donate .requisites .menu {
  display: flex;
  height: 43px;
  background-color: #2A2C36;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
}

.donate .requisites .qr_code {
    width: 100px;
    position: absolute;
    right: 0;
    top: -54px;
}

.donate .requisites .menu .item {
    width: 140px;
    text-align: center;
    border-left: 1px solid #3E3E4B;
    height: inherit;
    line-height: 43px;
    cursor: pointer;
}

.donate .requisites .menu .item:first-of-type {
  border: none;

}

.donate .requisites .menu .active_item {
    width: 140px;
    text-align: center;
    border: none;
    background-color: #5F607B;
    font-weight: 700;
}

.donate .requisites .sber_container  {

}

.donate .requisites .sber_container .logo {
  background-image: url("images/sber_logo.svg");
  width: 210px;
  height: 33px;
  margin-bottom: 20px;
}

.donate .requisites .tinkoff_container .logo {
  background-image: url("images/tinkoff_logo.svg");
  width: 126px;
  height: 33px;
  margin-bottom: 20px;
  background-size: contain;
}

.donate .requisites .bitcoin_container .logo {
  background-image: url("images/bitcoin_logo.svg");
  width: 128px;
  background-size: contain;
  height: 27px;
  margin-bottom: 22px;
  margin-top: 4px;
}

.donate .requisites .ethereum_container .logo {
  background-image: url("images/ethereum_logo.png");
  width: 152px;
  height: 38px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.donate .money_container {
  display:none;
  background-color: white;
  border-radius: 5px;
  padding: 24px;
  margin-top: 24px;
}



.donate .active_container {
  display: block;
}

.donate .active_container .numbers {
  display: block;
  width: 430px;
  font-family: 'Ubuntu';
  padding: 11px 10px;
  font-size: 16px;
  border: #D7D7D7 1px solid;
  border-radius: 5px;
  color: #404040;
}

textarea:focus, input:focus, input[type="text"]:focus, .numbers:focus {
   color: #404040;
}

textarea:focus-visible, input:focus-visible, input[type="text"]:focus-visible, .numbers:focus-visible {
   outline-width: 1px;
   outline-color: #5d607b;
}

.donate .money_container .icon_background {display: block;position: absolute;width: 50px;margin-right: 3px;right: 0;height: 29px;/* margin-right: 10px; *//* background: linear-gradient(to left, #333 50%, #eee 75%, #333 75%); */background: linear-gradient(to right, transparent, white 40%);}

.donate .money_container  .button_copy {display: block;position: absolute;right: 0;width: 22px;background: none;height: 22px;cursor: pointer;background-image: url("images/icons8-скопировать.svg");margin-right: 8px;background-size: cover;padding: 0;border: none;filter: invert(34%);}

.donate .money_container  .form_number {
  display: flex;
  align-items: center;
  position: relative;
}
.donate .money_container  .small_form  {width: 305px;font-size: 14px;}

.donate .money_container .container {
  display: flex;
  position: relative;
}

.donate .money_container  .go_to {
  display: block;
  background: none;
  margin-right: 7px;
  background-size: cover;
  padding: 14px;
  color: white;
  font-family: 'Ubuntu';
  font-weight: 700;
  border: none;
  margin-top: 14px;
  border-radius: 5px;
  background: #5e607b;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
}

.regulations {font-family: Ubuntu;font-style: normal;font-weight: 500;font-size: 16px;line-height: 32px;text-align: right;color: white;}

.footer {
    border-top: 1px solid #3f3f48;
}

.footer .footer_container {
    width: 900px;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.documents {
    right: 0;
    position: absolute;
    margin-top: -5px;
}
.documents .my_link {display: flex;justify-content: flex-end;color: white;font-family: Ubuntu;font-style: normal;font-weight: normal;font-size: 16px;line-height: 32px;text-align: right;}
